{
  "Parameters": {
    "TABLE_NAME": "users-dev",
    "DEPLOY_ENVIRONMENT": "dev",
    "AWS_REGION": "us-east-1",
    "IS_OFFLINE": true,
    "DYNAMOHOST": "localstack",
    "DYNAMO_PORT": 4566,
    "SECRET_KEY": "shhh",
    "EXPIRATION": 2
  }
}
