{
  "Parameters": {
    "TABLE_NAME": "users-dev",
    "DEPLOY_ENVIRONMENT": "dev",
    "AWS_REGION": "us-east-1",
    "IS_OFFLINE": true,
    "DYNAMOHOST": "localstack",
    "DYNAMO_PORT": 4566,
    "SECRET_KEY": "shhh",
    "EXPIRATION": 2,
    "ADMIN_EMAIL": "admin.system@test.com",
    "TOPIC_ARN": "arn:aws:sns:us-east-1:000000000000:TopicUserService",
    "WATER_MARK_IMG": "watter_mark.png",
    "BUCKET_NAME": "test"
  }
}
